%footer.footer
  .row
    .small-12.columns
      %p.slogan Built using the awesome Middleman framework
      %p.links
        %a{:href => "#"} About
        %a{:href => 'portfolio.html'} Portfolio
        %a{:href => "#"} Blog

      %p.copywrite Craft Academy 2016