.row
  .large-3.columns
    %img{alt: 'Thomas Ochman', src: 'https://www.gravatar.com/avatar/a7cdd806f5a64eb0dbdbc77954b5c982?s=250&amp;d=retro', style: 'padding-top: 10px;width: 250px; height: auto;'}
  .large-9.columns
    %h3 Thomas Ochman
    %p Thomas Ochman's worktitle is "Developer Of Software And People". He's the founder of Craft Academy, a Web developer Bootcamp based in Sweden and he spends most of his days talking about Software Craftsmanship and coaching students how to build applications.
    %p He is devoted to agile methods and the process of working and communicating with customers, developers and other stakeholders in order to ensure that communication flows effectively and that the job gets done.
    %p Thomas is also a co-founder and project leader for the Agile Ventures online project incubator initiative, managing a distributed group of developers from around the world.
    %p Humbly, he wants to make the world a better place - one "Line Of Code" at a time. As a part of his commitment to society, he devotes a big chunk of his time to open source software development and charity projects.
