- if current_page.path == 'index.html'
  %header.hero
    %h1 Thomas Ochman

.row
  .large-12.columns
    %h1 Code, code, code!
    %p Learning to code is not an easy task, but once you've learned the fundamentals,
    it's fun, rewarding and exciting. You get to solve problems, build stuff and work in an environment where you're constantly challenged
    to learn new things. It's almost never boring to be a developer.
    %p There are many ways to learn to code.
    %p I started Craft Academy to help others to get into the industry by offering
    an alternative to a CS degree or self-studies. By providing a challenge based curriculum
    with a step-by-step introduction of different technologies and levels of complexity,
    our learners get to explore different areas of what it means to develop software and applications.
    %p Under the 12 week long bootcamp, our learners work through a series of
    projects that takes them from no knowledge about software development to a level of junior developers.
    %p Under the Portfolio section you can explore some of the challenges they are working on.    



